swagger: '2.0'
info:
  title: SMS Linked Data API
  description: A set of Linked Data powered APIs for Semantically Mapping Science (SMS)
  version: "1.0"
# the domain of the service
host: sms.risis.eu
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /api
produces:
  - application/json
paths:
  /geo.pointToNUTS;lat={latitude};long={longitude}:
    get:
      summary: given a point, returns the NUTS boundaries.
      description: |
        Receives Longitude and Latitude of a point and returns its NUTS containers in different levels.
      parameters:
        - name: latitude
          in: path
          description: Latitude of the given point.
          required: true
          type: number
          format: double
          default: 45.0804
        - name: longitude
          in: path
          description: Longitude of the given point.
          required: true
          type: number
          format: double
          default: 4.899431
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding NUTS details.
          schema:
            type: array
            items:
              $ref: '#/definitions/pointToNUTS'
  /geo.NUTStoName;code={code}:
    get:
      summary: given a NUTS code, returns the name of the NUTS region.
      parameters:
        - name: code
          in: path
          description: code for NUTS region
          required: true
          type: string
          default: NL326
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding NUTS details.
          schema:
            type: array
            items:
              $ref: '#/definitions/NUTStoName'
  /geo.NameToNUTS;name={name}:
    get:
      summary: given a NUTS region name, returns the code and details of the NUTS region.
      parameters:
        - name: name
          in: path
          description: name of NUTS region
          required: true
          type: string
          default: Groot-Amsterdam
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding NUTS details.
          schema:
            type: array
            items:
              $ref: '#/definitions/NameToNUTS'
  /geo.NUTStoPolygon;code={code}:
    get:
      summary: given a NUTS code, returns the containing polygon shape and details of the NUTS region.
      parameters:
        - name: code
          in: path
          description: code for NUTS region
          required: true
          type: string
          default: NL326
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding NUTS details.
          schema:
            type: array
            items:
              $ref: '#/definitions/NUTStoPolygon'
  /geo.MunicipalitiesPerCountry;country={country}:
    get:
      summary: given a country name, returns the list of municipalities.
      parameters:
        - name: country
          in: path
          description: country name
          required: true
          type: string
          default: Netherlands
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding NUTS details.
          schema:
            type: array
            items:
              $ref: '#/definitions/MunicipalitiesPerCountry'
  /geo.NameToMunicipality;name={name}:
    get:
      summary: given a municipality name, returns the related details.
      parameters:
        - name: name
          in: path
          description: municipality name
          required: true
          type: string
          default: Amstelveen
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding details.
          schema:
            type: array
            items:
              $ref: '#/definitions/NameToMunicipality'
  /geo.Municipality;code={code}:
    get:
      summary: given a municipality code, returns the related details.
      parameters:
        - name: code
          in: path
          description: municipality code
          required: true
          type: string
          default: NL270362
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding details.
          schema:
            type: array
            items:
              $ref: '#/definitions/Municipality'
  /geo.PointToMunicipality;lat={latitude};long={longitude}:
    get:
      summary: given a point, returns the related municipality.
      description: |
        Receives Longitude and Latitude of a point and returns its municipality details.
      parameters:
        - name: latitude
          in: path
          description: Latitude of the given point.
          required: true
          type: number
          format: double
          default: 48.210033
        - name: longitude
          in: path
          description: Longitude of the given point.
          required: true
          type: number
          format: double
          default: 16.363449
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding details.
          schema:
            type: array
            items:
              $ref: '#/definitions/PointToMunicipality'
  /geo.MunicipalityToPolygon;code={code}:
    get:
      summary: given a municipality code, returns the polygon shape.
      parameters:
        - name: code
          in: path
          description: municipality code
          required: true
          type: string
          default: AT31726
      tags:
        - Geo-Services
      responses:
        200:
          description: An array of object with corresponding details.
          schema:
            type: array
            items:
              $ref: '#/definitions/MunicipalitytoPolygon'
  /metadata.dataset;name={name}:
    get:
      summary: given a dataset's name, returns the related metadata properties.
      description: |
        Returns all the metadata properties of a given dataset
      parameters:
        - name: name
          in: path
          description: Name of the dataset.
          required: true
          type: string
          default: eter
      tags:
        - Metadata-Services
      responses:
        200:
          description: An array of object with property details.
          schema:
            type: array
            items:
              $ref: '#/definitions/DatasetProperties'
  /metadata.datasetsList:
    get:
      summary: gives a list of RISIS datasets.
      description: |
        Returns a list of all available RISIS datasets.
      tags:
        - Metadata-Services
      responses:
        200:
          description: An array of object with datasets names and urls.
          schema:
            type: array
            items:
              $ref: '#/definitions/DatasetsList'
definitions:
  pointToNUTS:
    type: object
    properties:
      longitude:
        type: number
        format: double
      latitude:
        type: number
        format: double
      resources:
        type: array
        description: List of NUTS region.
        items:
           $ref: '#/definitions/NUTS'
  NameToNUTS:
    type: object
    properties:
      resources:
        type: array
        description: List of NUTS region.
        items:
           $ref: '#/definitions/NUTS'
  NUTStoName:
    type: object
    properties:
      resources:
        type: array
        description: List of NUTS region.
        items:
           $ref: '#/definitions/NUTS'
  NUTStoPolygon:
    type: object
    properties:
      resources:
        type: array
        description: List of NUTS region containg the their corresponding polygons.
        items:
           $ref: '#/definitions/NUTSP'
  MunicipalitytoPolygon:
    type: object
    properties:
      resources:
        type: array
        description: List of corresponding polygons.
        items:
           $ref: '#/definitions/MCPP'
  NUTS:
    type: object
    properties:
      uri:
        type: string
      name:
        type: string
      code:
        type: string
      level:
        type: integer
  NUTSP:
    type: object
    properties:
      uri:
        type: string
      name:
        type: string
      code:
        type: string
      level:
        type: integer
      polygon:
        type: string
  MCPP:
    type: object
    properties:
      name:
        type: string
      polygon:
        type: string
  MunicipalitiesPerCountry:
    type: object
    properties:
      country:
        type: string
      resources:
        type: array
        description: List of municipalities.
        items:
           $ref: '#/definitions/MCP'
  NameToMunicipality:
    type: object
    properties:
      resources:
        type: object
        description: details.
  Municipality:
    type: object
    properties:
      resources:
        type: object
        description: details.
  PointToMunicipality:
    type: object
    properties:
      longitude:
        type: number
        format: double
      latitude:
        type: number
        format: double
      resources:
        type: array
        description: details.
        items:
           $ref: '#/definitions/MCPPol'
  MCPPol:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      country:
        type: string
  MCP:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
  DatasetsList:
    type: object
    properties:
      resources:
        type: array
        description: List of Datasets.
        items:
           $ref: '#/definitions/DatasetBrief'
  DatasetBrief:
    type: object
    properties:
      title:
        type: string
      name:
        type: string
      URL:
        type: string
      resourceURI:
        type: string
      resourceGraphName:
        type: string
  DatasetProperties:
    type: object
